flow noderedRaspberryPi.json
[{"id":"f044e16.54a632","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eece539e.f130a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b4e1d575.15b038","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"499fc4f5.eca89c","type":"wiotp-credentials","z":"","name":"","org":"hahhe3","serverName":"","devType":"raspberrypiGW","devId":"raspberrypiGW","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"221441fb.3f16ae","type":"inject","z":"f044e16.54a632","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["84256068.41823"]]},{"id":"84256068.41823","type":"random","z":"f044e16.54a632","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":180,"wires":[["81704b8c.bba618"]]},{"id":"81704b8c.bba618","type":"function","z":"f044e16.54a632","name":"","func":"msg,payload = { 'd' : {'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["b2f9993e.31abb8","11c856f1.a2e169"]]},{"id":"b2f9993e.31abb8","type":"debug","z":"f044e16.54a632","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":180,"wires":[]},{"id":"f07f8017.4a65c","type":"rpi-sensehatsim in","z":"b4e1d575.15b038","name":"","motion":false,"env":true,"stick":false,"x":160,"y":220,"wires":[["1e36afbf.bf877"]]},{"id":"1e36afbf.bf877","type":"delay","z":"b4e1d575.15b038","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":220,"wires":[["e5337db2.382cc"]]},{"id":"e5337db2.382cc","type":"function","z":"b4e1d575.15b038","name":"Env. Data","func":"msg.payload = {'Data' : {'Environment' : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb080027899f6b\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["ee0c7da5.77435","9cec0e00.0218b"]]},{"id":"ee0c7da5.77435","type":"debug","z":"b4e1d575.15b038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":200,"wires":[]},{"id":"11c856f1.a2e169","type":"wiotp out","z":"f044e16.54a632","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"499fc4f5.eca89c","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":590,"y":240,"wires":[]},{"id":"dc2be353.0458a","type":"wiotp in","z":"eece539e.f130a","authType":"d","deviceKey":"499fc4f5.eca89c","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":160,"y":560,"wires":[["15dfce4c.b81472"]]},{"id":"15dfce4c.b81472","type":"debug","z":"eece539e.f130a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":560,"wires":[]},{"id":"9cec0e00.0218b","type":"wiotp out","z":"b4e1d575.15b038","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"499fc4f5.eca89c","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":710,"y":260,"wires":[]}]