Flow nodered Bluemix.json
[{"id":"7edc5501.4d8ecc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b7cd2fec.65161","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ea7ad007.e018b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8d022dfa.75e2","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"2a145f58.dd70a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"79db2bbe.159404","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"681b3709.cfdf28","type":"ui_group","z":"","name":"Default","tab":"79db2bbe.159404","order":1,"disp":true,"width":"6","collapse":false},{"id":"f091aa94.a02268","type":"ibmiot in","z":"7edc5501.4d8ecc","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"080027899f6b","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":154.60000228881836,"y":234.00000381469727,"wires":[["4be2f3bd.68f1dc"]],"l":false},{"id":"4be2f3bd.68f1dc","type":"debug","z":"7edc5501.4d8ecc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":275,"y":240,"wires":[],"l":false},{"id":"bacb6200.7f2e4","type":"inject","z":"b7cd2fec.65161","name":"","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.99990558624268,"y":191.99999809265137,"wires":[["2d755aa8.77fe86"]],"l":false},{"id":"c46cbe35.4ca16","type":"inject","z":"b7cd2fec.65161","name":"","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.99990463256836,"y":269,"wires":[["2d755aa8.77fe86"]],"l":false},{"id":"2d755aa8.77fe86","type":"function","z":"b7cd2fec.65161","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":172.9999008178711,"y":221,"wires":[["9c5480ea.fdcd7"]],"l":false},{"id":"9c5480ea.fdcd7","type":"json","z":"b7cd2fec.65161","name":"","property":"payload","action":"","pretty":false,"x":266.9999008178711,"y":219,"wires":[["db08db4e.cc7058"]],"l":false},{"id":"db08db4e.cc7058","type":"ibmiot out","z":"b7cd2fec.65161","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027899f6b","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":355,"y":220,"wires":[],"l":false},{"id":"ed63dfa6.394f4","type":"ibmiot in","z":"ea7ad007.e018b","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb080027899f6b","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":180,"wires":[["f48eb38b.7f0be"]],"l":false},{"id":"f48eb38b.7f0be","type":"debug","z":"ea7ad007.e018b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":220,"y":180,"wires":[],"l":false},{"id":"e6de2ecc.19f54","type":"ui_button","z":"8d022dfa.75e2","name":"","group":"681b3709.cfdf28","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":50,"y":40,"wires":[[]]},{"id":"a69789a8.25b548","type":"function","z":"8d022dfa.75e2","name":"Suhu","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":240,"wires":[["df2fe9fc.70bc88"]],"l":false},{"id":"3f90840c.3b65bc","type":"function","z":"8d022dfa.75e2","name":"Kelembapan","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":300,"wires":[["164cd4a5.4ec9ab"]],"l":false},{"id":"f177c4d0.ef9418","type":"function","z":"8d022dfa.75e2","name":"Pressure","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg; ","outputs":1,"noerr":0,"x":235,"y":360,"wires":[["4a03c507.77360c"]],"l":false},{"id":"df2fe9fc.70bc88","type":"ui_gauge","z":"8d022dfa.75e2","name":"Suhu","group":"681b3709.cfdf28","order":1,"width":0,"height":0,"gtype":"gage","title":"suhu","label":"units","format":"{{value}}","min":"0","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":395,"y":240,"wires":[],"l":false},{"id":"164cd4a5.4ec9ab","type":"ui_gauge","z":"8d022dfa.75e2","name":"","group":"681b3709.cfdf28","order":2,"width":0,"height":0,"gtype":"gage","title":"kelembapan","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":395,"y":300,"wires":[],"l":false},{"id":"4a03c507.77360c","type":"ui_gauge","z":"8d022dfa.75e2","name":"","group":"681b3709.cfdf28","order":3,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":395,"y":360,"wires":[],"l":false},{"id":"7e9dd483.0f50ac","type":"ibmiot in","z":"8d022dfa.75e2","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":300,"wires":[["3f90840c.3b65bc","a69789a8.25b548","f177c4d0.ef9418","543a38de.280d38"]]},{"id":"543a38de.280d38","type":"debug","z":"8d022dfa.75e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":440,"wires":[]}]